h1{
    color: blue;
    background-color: rgb(10, 243, 18);
}
h6{
    color: black;
}
p{
    color: rgb(12, 255, 40);
    background-color: black;
}
li{
    color: blue;
}
h2{
    color: blueviolet;
}
li{
    color: brown;
}